spring:
  application:
    name: growit

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/growit_dev
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m,recordStats # 최대 저장 개수, 마지막 저장 후 만료 시간, 캐시 통계 활성화
  security:
    oauth2:
      client:
        registration:

          apple:
            client-id:  com.growitddd.growit-app
            client-secret: "ES256-JWT"
            client-name: Apple
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/apple"
            scope: [ name, email ]
        provider:
          apple:
            authorization-uri: https://appleid.apple.com/auth/authorize
            token-uri: https://appleid.apple.com/auth/token
            jwk-set-uri: https://appleid.apple.com/auth/keys

jwt:
  expired-second: 3600
  refresh-expired-second: 86400
  secret-key: mySuperSecureKeyThatIsMoreThan32BytesLong123

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,caches

app:
  oauth:
    kakao:
      client-id: ${KAKAO_CLIENT_ID:82d47911ec3863fe1b589953d419e1bb}
    apple:
      team-id: ${APPLE_TEAM_ID:}
      client-id: ${APPLE_CLIENT_ID:}
      key-id: ${APPLE_KEY_ID:}
      private-key: ${APPLE_PRIVATE_KEY:}
  security:
    api-keys:
      - ${GOAL_API_KEY_PRIMARY:}
ai:
  api:
    api-key: ${OPEN_API_KEY}
  mentor:
    url: http://growit-ai-alb-251700671.ap-northeast-2.elb.amazonaws.com/api

notification:
  discord:
    webhook-url: ${DISCORD_WEBHOOK_URL:}
