openapi: 3.0.1
info:
  title: GrowIT API Specification
  description: GrowIT description
  version: 0.0.2
servers:
- url: http://growit-alb-alb-549641300.ap-northeast-2.elb.amazonaws.com/
tags: []
paths:
  /auth/reissue:
    post:
      tags:
      - Auth
      summary: 토큰 재발급
      description: 토큰 재발급
      operationId: auth-reissue
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/auth-signup486549215"
            examples:
              auth-reissue:
                value: |
                  {
                      "refreshToken": "dummy-refresh-token"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth-signup486549215"
              examples:
                auth-reissue:
                  value: "{\"data\":{\"accessToken\":\"accessToken\",\"refreshToken\"\
                    :\"refreshToken\"}}"
  /auth/signin:
    post:
      tags:
      - Auth
      summary: 사용자 로그인
      description: 사용자 로그인
      operationId: auth-signin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/auth-signup486549215"
            examples:
              auth-signin:
                value: |
                  {
                      "email": "test@example.com",
                      "password": "securePass123"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth-signup486549215"
              examples:
                auth-signin:
                  value: "{\"data\":{\"accessToken\":\"accessToken\",\"refreshToken\"\
                    :\"refreshToken\"}}"
  /auth/signup:
    post:
      tags:
      - Auth
      summary: 사용자 회원가입
      description: 사용자 회원가입
      operationId: auth-signup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/auth-signup486549215"
            examples:
              auth-signup:
                value: |
                  {
                      "email": "test@example.com",
                      "password": "securePass123",
                      "name": "홍길동",
                      "jobRoleId": "6rOg7Zmp7IOd",
                      "careerYear": "JUNIOR"
                  }
      responses:
        "201":
          description: "201"
  /resource/jobroles:
    get:
      tags:
      - JobRole
      summary: 전체 직무 목록 조회
      description: 전체 직무 목록 조회
      operationId: get-job-roles
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth-signup486549215"
              examples:
                get-job-roles:
                  value: "{\"data\":{\"jobRoles\":[{\"id\":\"dev\",\"name\":\"개발자\"\
                    },{\"id\":\"designer\",\"name\":\"디자이너\"},{\"id\":\"planner\"\
                    ,\"name\":\"기획자\"}]}}"
  /users/myprofile:
    get:
      tags:
      - User
      summary: 사용자 조회
      description: 사용자 조회
      operationId: get-user
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth-signup486549215"
              examples:
                get-user:
                  value: "{\"data\":{\"id\":\"user-1\",\"email\":\"user@example.com\"\
                    ,\"name\":\"testUser\",\"jobRole\":{\"uid\":\"dev\",\"name\":\"\
                    개발자\"},\"careerYear\":\"JUNIOR\"}}"
components:
  schemas:
    auth-signup486549215:
      type: object
